/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Set CSS variables */
:root {
    --main-color: #0B74BD;
    --white: white;
    --main-font: Georgia, 'Times New Roman', Times, serif;
}

/*body {
    background-image: linear-gradient(to bottom, var(--white) , var(--main-color));
}*/



/* Clear floated elements */
.clearfix {
    clear: both;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

/* ======================
   Header/Navbar styling
=========================*/

header {
    text-align: center;
}

/* ======================
   Topbar styling
=========================*/

#top-bar {
    height: 30px;
    width: 100%;
    background-color: var(--white);
    border: solid 1px var(--main-color);
}

#top-bar p {
    color:var(--main-color);
    line-height: 30px;
    font-size: .8rem;
    font-weight: bold;
}

#toggle-colors {
    position: absolute;
    height: 20px;
    top: 3px;
    left: 2px;
    float: left;
    padding: 0 10px;
    border-radius: 2px;
    cursor: pointer;
    font-size: .6rem;
    text-transform: uppercase;
    line-height: 20px;
    display: inline;
    background-color: var(--main-color);
    color: var(--white);
    margin: 2px 0px 1px 2px;
}


#toggle-colors:hover {
    opacity: .7;
}

#colors {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 32px;
    left: 10px;
    width:auto;
    background-color: var(--white);
    border: solid 1px var(--main-color);
}

#colors li {
    color: var(--main-color);
    padding: 4px;
    width: 80%;
}

#colors p {
    color: var(--white);
    width: 50px;
    cursor: pointer;
}

#default p {
    background-color: #0B74BD;
}

#green p {
    background-color: green;
}

#red p {
    background-color: red;
}

#black p {
    background-color: black;
}

#orange p {
    background-color: orange;
}

#purple p {
    background-color: purple;
}


#colors p:hover {
    opacity: .7;
}







#top-bar span {
    text-transform: uppercase;
    background-color: var(--main-color);
    color: var(--white);
    font-weight: bold;
    padding:  2px 5px;
    border: double 3px var(--white);
    border-radius: 14px;
}

/* Top bar media query */
@media screen and (max-width: 768px) {

    #top-bar p {
        font-size: .6rem
    }

    #toggle-dark, #toggle-light {
        display: none;
    }
}


 
/* ======================
   Logo Bar styling
=========================*/

.logo-bar{
     height: auto;
     text-align: center;
     background-image: linear-gradient(90deg, var(--main-color) 0%, var(--white) 50%, var(--white) 50%, var(--main-color) 100%);
}

.logo-bar img {
    width: 50%;
    margin: 10px 0px;
}

.logo-bar button {
    font-weight: bold;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu rect{
    fill: var(--main-color);
}

.mobile-menu:hover {
    opacity: .9;
}

/* Logo bar media query */
@media screen and (max-width: 768px) {

    .logo-bar {
        height: auto;
    }

    .logo-bar img {
        width: 95%;
    }
}


/* ======================
   Navbar styling
=========================*/

/* UL */
#menu-bar {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-top: solid 1px var(--main-color);
    box-shadow: 1px 1px 1px 1px var(--main-color);
    z-index: 5;
    
}

/* LI */
.menu-item {
    height: 100%;
    display: inline-block;
    padding: 20px 25px;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: var(--main-font);
}

.menu-item a {
    color: var(--main-color);
    height: 100%;
    width: 100%;
}

.menu-item a:hover {
    opacity: .7;
}

.sign-in, .sign-in a{
    color: var(--main-color);
    font-family: var(--main-font);
    font-weight: bold;
}

.sign-in {
    padding: 10px 0px;
    width: 90px;
    background-color: var(--white);
    border-radius: 20px;
    border: 3px double var(--main-color);
    cursor: pointer;
}

.sign-in:hover {
 opacity: .7;
}

/* Navbar media query */
@media screen and (max-width: 768px) {

    #menu-bar li {
        display: none;
    }

    .mobile-menu {
       margin: 3px 20px 0 30%;
       display: inline;
    }    

    .sign-in {
        width: 70px;
        padding: 8px 0;
    }
}

@media screen and (max-width: 400px) {


    .sign-in {
        width: 60px;
        padding: 8px 0;
    }

    .mobile-menu {
        margin-left: 25%;
    }

    #menu-bar button {
        font-size: .6rem;
    }
}

/* ====================
   Mobile Menu styling
=======================*/

#mobile-menu-container {
    display: none;
    width: auto;
    margin-top: 5px; 
}

.mobile-menu-content {
    background-color: var(--white);
    width: 80%;
    margin: auto;
    padding: 30px;
    box-shadow: 1px 1px 1px 1px var(--main-color);
    position: relative; 
}

.mobile-menu-item {
    padding: 30px;
    border-bottom: 1px solid var(--main-color);
}

.mobile-menu-item a {
    font-family: var(--main-font);
    color: var(--main-color);
    font-size: 1.4rem;
    padding: 5px 20px;
    border-radius: 25px;
}

.mobile-menu-item:hover .mobile-menu-item a{
    background-color: var(--main-color);
    color: var(--white);
    border: double 3px var(--white);
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 20px; 
}

.close-menu .cross {
    stroke: var(--main-color);
}

.close-login line {
    stroke: var(--main-color);
}
.mobile-menu-item:hover {
    opacity: .8;
}

/* login tab styling */

#sign-in-tab {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 0px;
    position: absolute;
    background-color: rgba(64, 64, 64, 0.5); 
    z-index: 6;
}

.cross {
    float: right;
    cursor:pointer;
}

.cross:hover {
    opacity: .7;
}

.sign-in-tab-content {
    height: auto;
    width: 50vh;
    border: 1px solid gray;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 1px 1px 1px 1px var(--main-color);
    font-family: var(--main-font);
}

#sign-in-tab h4 {
    text-transform: uppercase;
    font-family: var(--main-font);
    font-size: 1.2rem;
    color: var(--main-color);
    border-bottom: solid var(--main-color) 1px;
    padding-bottom: 30px;
}

.email, .password {
    padding: 40px 20px 0px 20px;
}

#sign-in-tab input {
    border: none;
    border-bottom: solid 1px var(--main-color);
}

#sign-in-tab button {
    width: 90%;
    height: 45px;
    background-color: var(--main-color);
    color: var(--white);
    font-size: 1.5em;
    margin-top: 60px;
    border: none;
    cursor: pointer;
}

.sign-in-tab-content p {
    padding: 30px;
    float: right;
    color: gray;
}

#sign-in-tab button:hover {
    opacity: .7;
}


/* =======================
   Back to top styling
   ====================== */

#back-to-top {
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color: var(--main-color);
color: var(--white);
cursor: pointer;
padding: 15px;
border-radius: 4px;
}

#back-to-top:hover {
opacity: .7;
}

/* =======================
   Home page main styling
=========================*/

#search-wrapper {
    display: none;
    height: 100px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    border-top: solid 1px var(--main-color);
    position: relative;
}

.search-container {
    background-color: var(--white);
    border: solid var(--main-color) 1px;
    height: 60px;
    width: 50%;
    border: double 3px var(--main-color);
}

.search-container .input {
    height: 100%;
    border: none;
    width: 90%;
    float: left; 
}

.search-button {
    height: 100%;
    background-color: var(--white);
    border: var(--white) solid 1px;
    cursor: pointer;
    float: right; 
}

 .search-button i {
     font-size: 1.5rem;
     color: var(--main-color);
     padding-right: 10px;
}

.search-button:hover {
    opacity: .7;
}

.close-search {
    position: absolute;
    top: 10px;
    right: 20px; 
}

.close-search .cross {
    stroke: var(--main-color);
}

/* Home page main styling media query */
@media screen and (max-width: 768px) {
    .search-container {
        width: 70%;
    }

    .search-container .input {
        width: 70%;
         
    }
   
}


/* =======================
   Home page main styling
=========================*/

main {
    text-align: center;
    font-family: var(--main-font);
}

.small-heading {
    width: 120px;
    padding: 4px 0px;
    margin: 2px auto;
    color: var(--main-color);
    border: double var(--main-color) 3px;
    border-radius: 25px;
}

main h4 {
    font-size: 1.4rem;
}

.objective-content {
    padding: 50px 0px 90px 0;
    margin-bottom: 40px;
}

.help-buttons-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.can-content, .will-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.help-buttons-wrapper a {
    cursor: pointer;
    width: 100%;
    padding: 40px 0px;
    background-image: linear-gradient(180deg, var(--main-color) 0%, var(--white) 40%, var(--white) 60%, var(--main-color) 100%);
    color: var(--main-color);
    border: double var(--white) 10px;
    border-radius: 80px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.help-buttons-wrapper a:hover {
    opacity: .7
}

.help-buttons-wrapper p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(66, 66, 66);
    text-transform: uppercase;
}

/* Home page main styling media query */
@media screen and (max-width: 768px) {

    .help-buttons-wrapper {
        flex-direction: column;
        margin-top: 60px;
    }

    .help-buttons-wrapper a {
        padding: 40px 50px;
    }

    .can-content, .will-content {
        padding: 0 0 70px 0;
    }
}

@media screen and (max-width: 420px) {

    .help-buttons-wrapper a {
        font-size: 1.2rem;
        padding: 30px 40px;
    }
}

/*=======================
  Service page Section 
=========================*/


.service-page-wrapper {
    text-align: center;
}

.service-page-content {
    margin: 50px auto;
    width: 60%;
    background-color: var(--white);
}

.service-heading {
    padding: 30px 0;
    width: 100%;
    background-image: linear-gradient(180deg, var(--main-color) 0%, var(--white) 30%, var(--white) 70%, var(--main-color) 100%);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--main-color);
    top: 470px;
    opacity: .85;
    margin-bottom: 40px;
}

.service-page-content img {
    width: 100%;
}

.service-article{
    
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 60px;
}

.article-content {
    flex-basis: 80%;
    background-color: var(--white);
}

.article-item {
    flex-basis: 20%;
    flex-shrink: 1;
    background-color: var(--main-color);
}

.article-item p, .article-content p {
    text-transform: uppercase;
    font-weight: bold;
}

.article-content p {
    font-size: .7rem;
    color: var(--main-color);
}

.article-item p {
    font-size: 1rem;
    color: var(--white);
}



/* service stlyling media query */
@media screen and (max-width: 800px) {

    .article-item p {
       font-size: .7rem;
    }

    .service-page-content {
        width: 75%;
    }
}

@media screen and (max-width: 800px) {

    .article-content p {
       font-size: .5rem;
    }

    .service-page-content {
        width: 90%;
    }
}


/*=======================
  Services Section 
=========================*/

.service {
    margin-top: 2px;
    padding: 50px 150px;
    background-color: #f2f2f2;
}

.service-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: var(--main-font);
}

.service-content {
    background-color: var(--white);
    width: 45%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
    box-shadow: 1px 7px 7px 1px var(--main-color);
}

.service-content img{
    width: 100%;
}

.service-content button {
    padding: 15px 80px;
    background-color: var(--main-color);
    color: var(--white);
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;   
}

.service-name-wrapper {
    width: 90%;
    height: 75px;
    border-bottom: solid 1px var(--main-color);
}

.service-name{
    float: left;
    margin-left: 15px;
    line-height: 75px;
    font-family: var(--main-font);
    color: var(--main-color);
    font-size: 1.3rem;
}

.service-type { 
    font-family: var(--main-font);
    font-size: 1.4rem;
    font-weight: bold;
    margin: 30px 0 10px 0;
}

.service-text {
    width: 80%;
    color: var(--main-color);
    font-size: 1.2em;
    margin-bottom: 30px;
}

.service-content a {
    cursor: pointer;
}

.service-content a:hover {
    opacity: .7;
}

.service-location {
    font-size: .9rem;
    font-weight: bold; 
}

/* service stlyling media query */
@media screen and (max-width: 1100px) {

    .service-wrapper {
        flex-direction: column;
    }

    .service-content {
        width: 80%;
       
    }
}

@media screen and (max-width: 900px) {
    .service-content {
        width: 90%;
    }

    .service {
        padding: 20px;
    } 
}

@media screen and (max-width: 700px) {
    .service-content {
        width: 95%;
       
    } 
}

/*=======================
  Testamonial Section 
=========================*/

.testimonial {
    padding: 30px 0 60px 0;
    background-color: var(--white);
}

.testimonial-wrapper {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: var(--main-font);
}

.testimonial-content {
    flex-basis: 25%;
    padding-top: 30px;
    box-shadow: 1px 1px 1px 1px var(--main-color);
}
  
.test-text, .test-name, .test-location {
    margin: auto;
}

.test-text {
    width: 80%;
    color: rgb(100, 100, 100);
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.test-name {
    width: 90%;
    padding: 4px 14px;
    background-color: var(--main-color);
    font-family: var(--main-font);
    border-radius: 5px;
    border: 3px double var(--white);
    font-size: 1.2rem;
    color: var(--white);
}


.test-location {
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: 40px;
}

/* Testimonial stlyling media query */
@media screen and (max-width: 968px) {

    .testimonial-wrapper {
        flex-direction: column;
        margin-top: 40px;
    }

    .test-text {
        width: 45%;
    }

    .testimonial-content {
        width: 50%;
        margin: 30px;
    }
}

/* Testimonial stlyling media query */
@media screen and (max-width: 700px) {

    .test-text {
        width: 70%;
    }

    .testimonial-content {
        width: 70%;
        margin: 30px;
    }

    .testimonial-content img {
        height: 120px;
    }
}

/* =================
   Footer styling
===================*/

.footer-content {
    min-height: 80px;
    padding-top: 20px;
    text-align: center;
    background-color: rgb(238, 238, 238);
    border-top: 1px solid var(--main-color);     
}

.footer-content img {
    height: 30px;
}

.bottom-bar {
    text-align: center;
    height: 25px;
    color: var(--white);
    background-color: var(--main-color);
}

/* Footer media query */
@media screen and (max-width: 500px) {

    .footer-content img {
        height: 20px;
    }

    .footer-content {
        min-height: 60px;
    }
}

/*==========================
  Registration form styling
    ========================*/
.registration {
    margin: 25px 0px;
    display: flex;
    justify-content: center;  
}

.registration-wrapper {
    width: 50%;
}

.error {
    color: red;
    font-size: 11px;
    float: right;
}

.success {
    font-size: 17px;
    margin-top: 20px;
    color: var(--main-color);
}

input[type=text], input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: var(--main-color);
    color: var(--white);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    opacity: .7;
}

.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.form-heading {
    text-align: center;
    padding: 5px 0px 20px 0px;
    text-transform: uppercase;
}

.label-column {
    text-align:left;
    float: left;
    width: 25%;
    margin-top: 6px;
}

.input-column {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats  */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Registration form media query */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    .registration-wrapper {
        width: 100%;
    }

    .label-column {
        width: 40%;
        font-size: .7rem; 
    }
    
    .input-column {
        width: 60%; 
    }

    .form-heading {
        font-size: .6rem;
    }
}

/* Registration form media query */
@media screen and (max-width: 1100px) {
    .registration-wrapper {
        width: 80%;
    } 
}

/* Temporary page styling */
.temporary{
    height: 80vh;
    width: 100vw;
    text-align: center;
    padding-top: 25vh;
    font-size: 2rem;
    color: var(--main-color);
    font-weight: bold;
}